<!-- app.component.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Mi Aplicación</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="irACarro()">Carro</a>
      </li>
      <!-- Agrega más enlaces según tus necesidades -->
    </ul>
  </div>
</nav>
<div class="container mt-3">
  <router-outlet></router-outlet>
</div>
